<div class="loginForm">
  <h3 class="form-header">
    Login
  </h3>
  <form>
    <div class="form-group">
      <input [class.error]='id.invalid && id.touched' required #id='ngModel' type="number" [(ngModel)]='user.id' name='id' class='form-control' placeholder="Enter User ID">
      <span *ngIf='id.invalid && id.touched' class='error-message'>Invalid Field Entry</span>
    </div>
    <div class="form-group">
      <input [class.error]='password.invalid && password.touched' required #password='ngModel' type="password" [(ngModel)]='user.password' name='password' class='form-control'  placeholder="Enter Password">
      <span *ngIf='password.invalid && password.touched' class='error-message'>Invalid Field Entry</span>
    </div>
    <div class='text-center'>
    <button class='btn btn-primary ml-auto' (click)='loginUser()'>Login User</button>
  </div>
  </form>
</div>
